<div class="container tracks codt2022">
<div class="row">
    <div id="main-pane" class="col-12">
      <div class="row">
        <div class="information col-12 col-md-9">
          <h4>■ Cloud Operator Days Tokyo 2022 プレイベント ■</h4>
          <h5>2022年5月31日（火）15:00-17:00 ライブ配信</h5>
          <p>「運用者に光を!」メインテーマに掲げ2020年にスタートした本イベントは今年で3回目となりますが、多くの運用関係者から支持をいただき、情報・ノウハウの共有が促進されて、運用者の意識の変化や士気の向上なども感じられます。
  </p>
          <p>第1回からのさまざまな成果を踏まえて、改めて、第3回の開催主旨、約70セッションのオンデマンド配信とクロージングイベントの見どころなどについてご説明します。</p>
          <p>当日は、岐阜大学客員教授であり、デンソーのデジタルイノベーション室を率いる成迫 剛志 氏による基調講演、ヤフー、NTT、サイバーエージェント各社の若いオペレータによるパネルディスカッションを、プログラムとして用意しております。</p>
          <p>是非ご参加いただけますようお願いします。</p>
          <h4>■ プレイベントプログラム ■</h4>
          <h5>15:00-15:10 オープニング</h5>
          <p>長谷川 章博 （CODT2022実行委会 委員長/AXLBIT株式会社）</p>
          <h5>15:10-15:40　 基調講演　「運用こそが利益の源泉」</h5>
          <p>成迫 剛志 （岐阜大学 客員教授 / Design for ALL Co-founder / 株式会社デンソー）</p>
          <h5>15:45-16:30　 ヤングオペレーターパネル</h5>
          <p>
          モデレータ：<br/>
          長谷川 章博 （CODT実行委員長/AXLBIT株式会社）<br/>
          パネリスト：<br/>
          高橋 陽太 （ヤフー株式会社）<br/>
          坂齊 史奈子 （東日本電信電話株式会社）<br/>
          源波 陸 （株式会社サイバーエージェント）</p>
          <h5>16:35-17:00　 CODT2022　見どころのご紹介</h5>
          <p>長谷川 章博 （CODT2022実行委会 委員長/AXLBIT株式会社）<br/>
          水野 伸太郎 （日本OpenStackユーザ会 会長/日本電信電話株式会社）</p>
          <h4>■ 視聴方法 ■</h4>
          配信は本ページで行います。開始時刻になると自動的に切り替わりますのでそのままお待ちください。
        </div>

        <!-- div class="information col-12 col-md-9">
          <h4>運営からのお知らせ</h4>
          <ul>
            <% @announcements.order(publish_time: 'DESC').each do |announcement| %>
              <li>
                <div class="date"><%= announcement.publish_time.strftime('%Y-%m-%d %H:%M') %></div>
                <%= simple_format announcement.body %>
              </li>
            <% end %>
          </ul>
        </div -->

        <div id="sub-pane" class="col-12 col-md-3">
          <div class="social">
            <a class="twitter-timeline" data-height="500" href="https://twitter.com/cloudopsdays?ref_src=twsrc%5Etfw">Tweets by cloudopsdays</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>
    <div id="logo-pane" class="col-12">
      <!--TODO: Uncomment this after pre-event div id="registered-talk" class="talk accordion mt-3">
        <h4 class="">
          <% if @conference.opened? || @conference.video_enabled? %>
            聴講セッション(クリックで再生ページへ)
          <% else %>
            聴講予定セッション
          <% end%>
        </h4>
        <div id="registered-talk-list" class="row">
          <% @profile.talks.each do |talk| %>
            <div class="col-12 col-lg-3 col-md-4 card-column py-3">
              <a href="<%= talk_path(id: talk.id) %>">
              <div class="card registered-talk-card">
                <div class="avatar">
                  <% unless talk.speakers[0].blank? %>
                    <%= image_tag talk.speakers[0].avatar_or_dummy_url, :size => '90x90' %>
                  <% end %>
                </div>
                <div class="card-body">
                  <h5><%= talk.title %></h5>
                </div>
              </div>
              </a>
            </div>
          <% end %>
          <div class="col-12 text-center my-4">
              <%= button_to '聴講予定セッションを変更する', timetables_path, {method: :get, class: "btn btn-primary btn-xl inline" } %>
          </div>
        </div>
      </div -->
    </div>
  </div>

  <div class="row">
    <% if @conference.opened? || @conference.video_enabled? %>
      <div class="col-12 mb-3">
        <h4>ブース</h4>
        <%= render 'booth_section' %>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <% if @conference.show_sponsors %>
      <section class="page-section" id="sponsors">
        <%= render 'event/partial/sponsors', conference: @conference %>
      </section>
    <% end %>
  </div>

</div>
<script>
</script>

<%= javascript_pack_tag 'tracks/waiting_channel.js' %>
