<div class="container tracks codt2022">
<div class="row">
    <div id="main-pane" class="col-12">
      <div class="row">
        <div class="information col-12 col-md-9">
          <h4>運営からのお知らせ</h4>
          <ul>
            <% @announcements.order(publish_time: 'DESC').each do |announcement| %>
              <li>
                <div class="date"><%= announcement.publish_time.strftime('%Y-%m-%d %H:%M') %></div>
                <%= simple_format announcement.body %>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="information col-12 col-md-9">
          <h4>■ Cloud Operator Days Tokyo 2022 クロージングイベント ■</h4>
          <p>「ワンデイクロージングイベントは、リアル & オンラインライブ配信のハイブリッド形式で実施し、江崎 浩 氏 (デジタル庁 Chief Architect/東京大学 教授)氏による基調講演、公募セッションなどを総括するパネルディスカッション、ならびに、困難な課題を乗り越えた努力や工夫、若手エンジニアの希望となる体験談など、様々な観点で公募セッションを審査し、優れた取り組みや注目すべき挑戦を「輝け！クラウドオペレーターアワード」として表彰します。</p>

          <p>是非ご参加いただけますようお願いします。</p>
          <p>日時：2022年7月27日（水） 10:00-17:20<br />
          開催形態：ハイブリッド開催 (リアル & オンラインライブ配信)<br />
          会場：御茶ノ水ソラシティカンファレンスセンター　2F sola city HALL<br />
          </p>

          <p>内容：CODT2022を締めくくるクロージングイベント (ハイブリッド開催）基調講演、パネルディスカッション、輝け！クラウドオペレーターアワード表彰式、スポンサー展示、OpsWorkshop　</p>
          <h4>イベント詳細・タイムテーブル</h4>
          <a href="https://cloudopsdays.com/0727closing/" target="_blank" style="text-decoration: underline">こちらのリンク</a>からご確認いただけます

          <h4>■ 視聴方法 ■</h4>
          配信は本ページで行います。開始時刻になると自動的に切り替わりますのでそのままお待ちください。
        </div>

        <div id="sub-pane" class="col-12 col-md-3">
          <div class="social">
            <a class="twitter-timeline" data-height="500" href="https://twitter.com/cloudopsdays?ref_src=twsrc%5Etfw">Tweets by cloudopsdays</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          </div>
        </div>
      </div>
    </div>
    <div id="logo-pane" class="col-12">
      <div id="registered-talk" class="talk accordion mt-3">
        <h4 class="">
          <% if @conference.opened? || @conference.video_enabled? %>
            聴講セッション(クリックで再生ページへ)
          <% else %>
            聴講予定セッション
          <% end%>
        </h4>
        <div id="registered-talk-list" class="row">
          <% @profile.talks.each do |talk| %>
            <div class="col-12 col-lg-3 col-md-4 card-column py-3">
              <a href="<%= talk_path(id: talk.id) %>" data-turbolinks="false" >
              <div class="card registered-talk-card">
                <div class="avatar">
                  <% unless talk.speakers[0].blank? %>
                    <%= image_tag talk.speakers[0].avatar_or_dummy_url, :size => '90x90' %>
                  <% end %>
                </div>
                <div class="card-body">
                  <h5><%= talk.title %></h5>
                </div>
              </div>
              </a>
            </div>
          <% end %>
          <div class="col-12 text-center my-4">
              <%= button_to '聴講予定セッションを変更する', timetables_path, {method: :get, class: "btn btn-primary btn-xl inline" } %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <% if @conference.opened? || @conference.video_enabled? %>
      <div class="col-12 mb-3">
        <h4>ブース</h4>
        <%= render 'booth_section' %>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center">
    <% if @conference.show_sponsors %>
      <section class="page-section" id="sponsors">
        <%= render 'event/partial/sponsors', conference: @conference %>
      </section>
    <% end %>
  </div>

</div>
<script>
</script>

<%= javascript_pack_tag 'tracks/waiting_channel.js' %>
